#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

ion-col {
  background-color: #20ae19;
  border: solid 1px #000000;
  color: #000000;
  text-align: center;
}

.item-col {
  background-color: transparent;
}

ion-grid {
  align-self: center;
}

#container a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.custom-background {
  background-color: #FF0000; /* Reemplaza con tu color preferido */
  /* Otros estilos de fondo personalizados */
}

.div-contenido{
  padding: 20px;
}