<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-background" [fullscreen]="true">
  <div class="text-center">
    <h1><b>Clinica Veterinaria KUARAHY</b></h1>
    <h2>Control de Vacunas</h2>
  </div>
  <div class="div-contenido">
    <p>Cliente:</p>
    <ion-select placeholder="Selecciona un cliente" (ionChange)="onClienteChange($event)">
      <ion-select-option *ngFor="let item of clientes" value="{{ item.ClienteID }}">
        {{ item.NombreApelllido }}
      </ion-select-option>
    </ion-select>
  </div>
  <div class="div-contenido">
    <p>Mascotas</p>
    <ion-select placeholder="Selecciona una mascota" [(ngModel)]="seleccionMascotaID" (ionChange)="onMascotaChange($event)">
      <ion-select-option *ngFor="let item of mascotas" [value]="item.MascotaID">
        {{ item.Nombre }}
      </ion-select-option>
    </ion-select>
    <div class="text-center">
      <ion-button color="success" (click)="onClick()">Ver Historial</ion-button>
    </div>
  </div>
  <div>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Fecha Vacunación</ion-col>
        <ion-col>Vacuna</ion-col>
        <ion-col>Costo</ion-col>
      </ion-row>
      <ion-row *ngFor="let item of vacunas">
        <ion-col class="item-col">{{ item.FechaVacunacion }}</ion-col>
        <ion-col class="item-col">{{ item.vacuna }}</ion-col>
        <ion-col class="item-col">{{ item.costo }}</ion-col>
      </ion-row>
      
    </ion-grid>
  </div>

</ion-content>
